.porto{color: rgb(23, 23, 78);
    font-size: 70px;
    text-align-last: center;
background-color: rgb(219, 217, 214);
margin: 1px;
border: 10px black
padding: 20px;
}
.bio- {color: rgb(158, 31, 9);
    font-size: 30px; 
    margin-bottom: 10px;
    border: 10px black;}

.bio {color: blue;
font-size: 30px; 
margin-bottom: 10px;
border: 10px black;}

body{background: rgb(219, 217, 214)}
